* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    padding: 2rem 0 3rem 2rem;
    text-align: center;
}

.heading:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: lightgrey;
    width: 140px;
}

.heading:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: lightgrey;
    width: 140px;
}

h2:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: lightgrey;
    width: 160px;
}

h2:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: lightgrey;
    width: 160px;
}

.form {
    border: none;
}

article {
    padding: 2rem;
}

pre.language-html {
    margin: 1rem 0;
    padding: 1px;
    font-size: 10px;
}

p,
h1,
h2,
h3,
h4,
label,
legend,
li {
    font-family: "Roboto", serif;
    max-width: 75ch;
    padding-bottom: 20px;
}

#name-text,
.long input {
    width: 500px;
}

li {
    padding-bottom: 1rem;
    max-width: 50ch;
}

.index li {
    padding-bottom: 0;
}

:placeholder-shown,
input#value {
    color: grey;
}

p {
    font-size: 0.9rem;
}

.bold {
    font-weight: 600;
}

input:valid+.invalid {
    visibility: hidden;
}

input:invalid+.invalid {
    visibility: visible;
}

input:valid {
    border-bottom: transparent;
}

.invalid {
    color: #999;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.paddingB {
    padding-bottom: 1rem;
}

/* DESIGN GUIDE */

input#name-text {
    padding: 5px;
    width: 200px;
    border-radius: 3px;
    border: 2px solid lightgrey;
}